<a href="https://colab.research.google.com/github/afnanrahman/EAFP/blob/OmerAndKevin/feature_selection_svm_filter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest, f_classif

data = pd.read_csv("https://raw.githubusercontent.com/afnanrahman/EAFP/main/data/clean_smote_data.csv")
remove = ['total_working_years', 'years_at_company', 'percent_salary_hike',
               'years_with_curr_manager', 'hourly_rate', 'daily_rate', 
               'monthly_rate']
no_attrition = data.drop('attrition', axis=1) #axis is column
#take element e in the columns list if it is not in the remove list
no_correlation = [e for e in list(no_attrition.columns) if e not in remove]
no_correlation

['age',
 'business_travel',
 'department',
 'distance_from_home',
 'education',
 'education_field',
 'employee_number',
 'environment_satisfaction',
 'gender',
 'job_involvement',
 'job_level',
 'job_role',
 'job_satisfaction',
 'marital_status',
 'num_companies_worked',
 'over_time',
 'performance_rating',
 'relationship_satisfaction',
 'stock_option_level',
 'training_times_last_year',
 'work_life_balance',
 'years_in_current_role',
 'rate_avg']

In [2]:
X = data[no_correlation]
Y = data['attrition']
#different random state
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)
Y_train

71      0
1204    1
1752    1
63      0
2361    1
       ..
1638    1
1095    0
1130    0
1294    0
860     1
Name: attrition, Length: 1726, dtype: int64

In [3]:
#k is the number of top features to take
select = SelectKBest(score_func=f_classif, k=15)
X_train_select = select.fit_transform(X_train, Y_train)

In [4]:
X_train.columns.values[select.get_support()]
score_df = pd.DataFrame({'Feature': list(X_train), 'Scores': select.scores_})
score_df.sort_values(by='Scores', ascending=False)

                      Feature      Scores
10                  job_level  252.184784
9             job_involvement  219.524410
18         stock_option_level  203.400042
20          work_life_balance  142.300362
7    environment_satisfaction  139.702217
12           job_satisfaction  123.149892
19   training_times_last_year  121.555022
21      years_in_current_role  119.083473
0                         age  105.315269
17  relationship_satisfaction   80.006391
4                   education   68.386343
8                      gender   64.589440
16         performance_rating   50.657908
1             business_travel   37.263015
15                  over_time   30.322591
2                  department   29.916572
13             marital_status   17.727612
3          distance_from_home    7.210336
5             education_field    5.064513
22                   rate_avg    1.881090
14       num_companies_worked    0.839887
11                   job_role    0.761375
6             employee_number    0.473399

In [10]:
from sklearn import svm
from sklearn.metrics import accuracy_score
clf = svm.SVC(kernel='rbf')
clf.fit(X_train_select, Y_train)
X_test_select = select.transform(X_test)
Y_pred = clf.predict(X_test_select)
accuracy_score(Y_test, Y_pred)

0.8067567567567567