In [58]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

## Load in our dataset

In [59]:
data = pd.read_csv("https://raw.githubusercontent.com/afnanrahman/EAFP/main/data/clean_smote_data.csv")
data

       Unnamed: 0    age  ...  rate_avg  attrition
0        0.000000  41.00  ...   6891.67        1.0
1        1.000000  49.00  ...   8415.67        0.0
2        2.000000  37.00  ...   1287.00        1.0
3        3.000000  33.00  ...   8202.33        0.0
4        4.000000  27.00  ...   5754.33        0.0
...           ...    ...  ...       ...        ...
2461  1206.818985  33.12  ...   4598.85        1.0
2462  1040.748336  34.31  ...   5904.94        1.0
2463   390.753668  26.13  ...   2414.23        1.0
2464  1271.359504  41.32  ...   3885.08        1.0
2465   579.308811  23.80  ...   1571.88        1.0

[2466 rows x 32 columns]

## Define the group of features we're going to look at

In [60]:
cols = ['age' ,'job_satisfaction' ,'over_time' ,'percent_salary_hike' ,
        'stock_option_level' ,'rate_avg' ,'environment_satisfaction',
        'job_involvement' ,'job_level' ,'job_role' ,'education_field', 
        'performance_rating' ,'total_working_years']
X = data[cols]
Y = data['attrition']

## Split the data into 70% training set and 30% testing set

In [61]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

## Build our Logistic Regression model, make predictions, and determine the model's accuracy.

In [62]:
logistic_model = LogisticRegression(solver = 'lbfgs',max_iter=10000) # solver = 'liblinear' actually gave a little higher accuracy - will have to look into that
logistic_model.fit(X_train, Y_train)

logistic_model.predict(X_test)

predictions = logistic_model.predict(X_test)

# accuracy = np.sum(predictions == Y_test) / len(predictions)
# accuracy

acc = logistic_model.score(X_test, Y_test)
acc

0.7243243243243244

## Repeat process for another group of features.

## Does it matter more that the employee feels appreciated by the company, or if the employee appreciates the company (i.e. company satisfies them)?

#### Category 1 (related to if employee is appreciated by company)
* Daily Rate
* Job Involvement
* Percent Salary Hike
* Performance Rating
* Stock Option Level
* Training Times Last Year
* Years at Company
* Years in Current Role
* Years with Current Manager



#### Category 2 (related to if company is appreciated by employee)
* Environment Satisfaction
* Job Satisfaction
* Over time
* Work Life Balance
* Relationship Satisfaction

In [63]:
cols = ['daily_rate', 'job_involvement', 'percent_salary_hike',
        'performance_rating', 'stock_option_level', 'training_times_last_year',
        'years_at_company', 'years_in_current_role', 'years_with_curr_manager',
        'environment_satisfaction', 'job_satisfaction', 'over_time',
        'work_life_balance', 'relationship_satisfaction']

X = data[cols]
Y = data['attrition']

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

logistic_model = LogisticRegression(solver = 'lbfgs',max_iter=10000)
logistic_model.fit(X_train, Y_train)

logistic_model.predict(X_test)

predictions = logistic_model.predict(X_test)

acc = logistic_model.score(X_test, Y_test)
acc

0.7405405405405405

## How might an employee’s growth at the company affect attrition?
## And how might an employee's stability in life affect attrition?

#### Category 1 (related to growth)
* Daily Rate
* Department
* Hourly Rate
* Job Involvement
* Job Level
* Job Role
* Monthly Rate
* Over time
* Percent Salary Hike
* Performance Rating
* Total Working Years
* Training Times Last Year
* Years at Company


#### Category 2 (related to stability)
* Age
* Job Satisfaction
* Marital status
* Work Life Balance
* Years in Current Role
* Years with Current Manager

In [45]:
cols = ['daily_rate', 'department', 'hourly_rate', 'job_involvement', 
        'job_level', 'job_role', 'monthly_rate', 'over_time',
        'percent_salary_hike', 'performance_rating', 'total_working_years',
        'training_times_last_year', 'years_at_company', 'age',
        'job_satisfaction', 'marital_status', 'work_life_balance',
        'years_in_current_role', 'years_with_curr_manager']

X = data[cols]
Y = data['attrition']

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

logistic_model = LogisticRegression(solver = 'lbfgs',max_iter=10000)
logistic_model.fit(X_train, Y_train)

logistic_model.predict(X_test)

predictions = logistic_model.predict(X_test)

# accuracy = np.sum(predictions == Y_test) / len(predictions)
# accuracy
acc = logistic_model.score(X_test, Y_test)
acc

0.7243243243243244

## Just played around with some features, kept this one since it had the highest accuracy

In [57]:
cols = ['job_involvement', 'percent_salary_hike', 'stock_option_level',
        'performance_rating', 'years_at_company', 'environment_satisfaction',
        'job_satisfaction', 'relationship_satisfaction', 'work_life_balance',
        'over_time', 'years_in_current_role', 'daily_rate', 'job_level']

X = data[cols]
Y = data['attrition']

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

logistic_model = LogisticRegression(solver = 'lbfgs',max_iter=1000)
logistic_model.fit(X_train, Y_train)

logistic_model.predict(X_test)

predictions = logistic_model.predict(X_test)

accuracy = np.sum(predictions == Y_test) / len(predictions)
accuracy

0.7472972972972973